body {
    background-image: url(Media/background-astrology-img.webp);
    font-family: Courier New;
  }
  
  h1 {
    color: #FF0035;
    font-weight: bold;
    text-align: center;
  }
  
  p {
    color: #8B939C;
    font-weight: bold;
  }
  
  #message-button {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    margin: auto;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  #message-button:hover {
    background-color: #f44336;
    color: white;
  }
  
  #return-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  #return-button:hover {
    background-color: #38405F
  }
  
  .main {
    background-color: rgba(14,19,31,.88);
    height: 200px;
    width: 600px;
    position: relative;
    border: 3px ridge #38405F;
  }
  
  .center {
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  